h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.productPage{
  margin-top: 5rem;
}
.productPanel{
  padding: 0.8rem;
  box-shadow: 0px 0px 3px rgb(149, 148, 148);
}

.productPhoto{
  height: 550px;
}

.MuiGrid-item {
  padding: 10px;   
}

.quantityPanel  {
  min-width: 10rem;
  margin-bottom: 1rem;
}

.quantityPanel Button{
  height: 2.5rem;
  max-Width:2rem;
  min-Width:2rem;
  margin: 0px 0.3rem;
}

.quantityTextholder{
  width: 6rem;
  height: 3rem;
  
}


.actionBtns Button{
  margin: 0px 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.actionBtns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-bottom: 1rem;
}

del{
  color: gray;
  margin-right: 0.5rem;
}

.discount{
  color: red;
  font-weight: 400;
}

.realPrice{
  font-size: 1.7rem;
  margin: 0px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.product-title {
  color: #222222;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 0.8rem;
  
}

.productDetails{
  min-height: 550px;
}
.socialIcon {

  margin: 0rem;
}
.socialIconTable{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hover-fx {
  font-size: 36px;
  display: inline-block;
  cursor: pointer;
  margin: 15px;
  width: 80px;
  height: 80px;
  line-height: 84px;
  border-radius: 10%;
  text-align: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 300ms;
}

.hover-fx:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  content: '';
  box-sizing: content-box;
  box-shadow: 0 0 0 3px #fff;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 300ms;
}

.hover-fx:hover {
  background-color: rgb(156, 156, 110);
  color: #00989A;
}

.hover-fx:hover:after {
  opacity: 1;
  transform: scale(1.15);
}
.hr{
  /* border-bottom: 1px solid black; */
  border-top:1px solid rgb(189, 181, 181) ;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.description{
  font-size: 0.9rem !important;
  color: rgb(77, 80, 80);

}

.centered{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered Button{
  width: 100%;
}